:root {
  --base-color: #849785;
  --accent-color: #ffc355;
  --grey-color: #3b3b3b;
  --header-height: 90px;
  --backdrop-filter: saturate(50%) contrast(20%) brightness(160%);
}

body {
  margin: 0px;
  cursor: default;
  font-family: "Kaisei Opti", serif;
  font-size: 1rem;
}

#content {
  min-height: 100vh;
  width: 100vw;
  background-image: url(./assets/pexels-pixabay-2135.jpg);
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
}

.header {
  height: var(--header-height);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--base-color);
}

.logo {
  color: var(--accent-color);
  font-size: 2rem;
  margin-bottom: 5px;
  font-family: "Frank Ruhl Libre", serif;
  letter-spacing: 0.1rem;
}

.header-buttons-wrapper {
  width: 300px;
  font-size: 1.2rem;
  display: flex;
  justify-content: space-between;
}

.header-button:hover {
  transition: all 0.3s;
  color: var(--accent-color);
}

.var-content-wrapper {
  backdrop-filter: var(--backdrop-filter);
}

.invitation-page-content {
  min-height: calc(100vh - var(--header-height));
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #00000000;
}

.entrance-image {
  margin-top: 10px;
  width: 300px;
  height: 300px;
  border-radius: 50%;
  background-image: url(./assets/entrance.png);
  background-position: center;
  background-size: cover;
  -webkit-box-shadow: 0px 4px 28px 1px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0px 4px 28px 1px rgba(0, 0, 0, 0.25);
  box-shadow: 0px 4px 28px 1px rgba(0, 0, 0, 0.25);
}

.we-deliver {
  max-width: 600px;
  text-align: center;
}

.invitation-page-content button {
  background-color: var(--base-color);
  border-style: none;
  width: 160px;
  height: 50px;
  border-radius: 5px;
  font-family: "Frank Ruhl Libre", serif;
  font-size: 1rem;
  -webkit-box-shadow: 0px 4px 28px 1px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0px 4px 28px 1px rgba(0, 0, 0, 0.25);
  box-shadow: 0px 4px 28px 1px rgba(0, 0, 0, 0.25);
  margin-bottom: 40px;
}

.invitation-page-content button:hover {
  transition: all 0.3s;
  color: var(--accent-color);
}

iframe {
  filter: saturate(50%);
  margin-bottom: 10px;
  border-style: solid;
  border-width: 1px;
  border-radius: 10px;
  border-color: var(--base-color);
  width: 450px;
  height: 200px;
  -webkit-box-shadow: 0px 4px 28px 1px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0px 4px 28px 1px rgba(0, 0, 0, 0.25);
  box-shadow: 0px 4px 28px 1px rgba(0, 0, 0, 0.25);
}

.menu-wrapper {
  min-height: calc(100vh - var(--header-height));
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.menu-position-wrapper {
  margin-top: 10px;
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.menu-position-name {
  font-size: 1.2rem;
  font-weight: 500;
}

.menu-position-description {
  text-align: center;
}

.dividing-line {
  height: 2px;
  width: 400px;
  background-color: var(--base-color);
}

.contact-wrapper {
  min-height: calc(100vh - var(--header-height));
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.contact-wrapper .form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.input-wrapper {
  display: flex;
  flex-direction: column;
}

.input-wrapper input,
.input-wrapper textarea {
  font-family: "Kaisei Opti", serif;
  border: 0px;
  border-bottom: 2px solid;
  border-radius: 2px;
  background-color: #ffffff80;
  padding: 0px 0px 0px 5px;
  transition: all 0.3s;
}

.input-wrapper input {
  width: 300px;
  height: 40px;
}

.input-wrapper textarea {
  height: 100px;
  width: 300px;
  padding: 5px 0px 0px 5px;
  border: 2px solid;
  resize: none;
}

.input-wrapper input::placeholder,
.input-wrapper textarea::placeholder {
  color: black;
  font-size: 1rem;
}

.form input:focus::-webkit-input-placeholder,
.form textarea:focus::-webkit-input-placeholder {
  color: transparent;
}

.form input:focus {
  outline: none;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.1);
  border-bottom: 2px solid var(--accent-color);
}

.form textarea:focus {
  outline: none;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.1);
  border: 2px solid var(--accent-color);
}

.input-wrapper label {
  position: relative;
  top: -1rem;
  color: var(--grey-color);
  margin-bottom: 5px;
  font-size: 1rem;
  visibility: hidden;
  transition: all 0.3s;
  opacity: 0;
}

.form input:focus + label,
.form textarea:focus + label {
  opacity: 1;
  visibility: visible;
  transform: translateY(1rem);
}

.submit-form-button {
  border: none;
  font-family: "Kaisei Opti", serif;
  font-size: 1rem;
  background-color: var(--base-color);
  border-radius: 10px;
  width: 200px;
  height: 50px;
  margin-bottom: 15px;
  -webkit-box-shadow: 0px 4px 28px 1px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0px 4px 28px 1px rgba(0, 0, 0, 0.25);
  box-shadow: 0px 4px 28px 1px rgba(0, 0, 0, 0.25);
}

.submit-form-button:hover {
  color: var(--accent-color);
  transition: all 0.3s;
}

/* contact info */

.number-wrapper,
.location-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 0px;
}

.number-wrapper img,
.location-wrapper img {
  width: 15px;
  filter: invert(20%);
  margin-right: 10px;
}

.working-hours-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}
