:root {
  --base-color: #849785;
  --accent-color: #ffc355;
  --header-height: 90px;
}

body {
  margin: 0px;
  cursor: default;
  font-family: "Kaisei Opti", serif;
  font-size: 1rem;
}

#content {
  /* position: fixed; */
  min-height: 100vh;
  width: 100vw;
  background-image: url(./assets/pexels-pixabay-2135.jpg);
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
}

.header {
  height: var(--header-height);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--base-color);
}

.logo {
  color: var(--accent-color);
  font-size: 2rem;
  margin-bottom: 5px;
  font-family: "Frank Ruhl Libre", serif;
  letter-spacing: 0.1rem;
}

.header-buttons-wrapper {
  width: 300px;
  font-size: 1.2rem;
  display: flex;
  justify-content: space-between;
}

.header-button:hover {
  color: var(--accent-color);
}

.invitation-page-content {
  min-height: calc(100vh - var(--header-height));
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #00000000;
  backdrop-filter: saturate(50%) contrast(20%) brightness(160%);
}

.entrance-image {
  margin-top: 10px;
  width: 300px;
  height: 300px;
  border-radius: 50%;
  background-image: url(./assets/entrance.png);
  background-position: center;
  background-size: cover;
  -webkit-box-shadow: 0px 4px 28px 1px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0px 4px 28px 1px rgba(0, 0, 0, 0.25);
  box-shadow: 0px 4px 28px 1px rgba(0, 0, 0, 0.25);
}

.we-deliver {
  max-width: 600px;
  text-align: center;
}

.invitation-page-content button {
  background-color: var(--base-color);
  border-style: none;
  width: 200px;
  height: 50px;
  border-radius: 25px;
  font-family: "Frank Ruhl Libre", serif;
  font-size: 1rem;
  -webkit-box-shadow: 0px 4px 28px 1px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0px 4px 28px 1px rgba(0, 0, 0, 0.25);
  box-shadow: 0px 4px 28px 1px rgba(0, 0, 0, 0.25);
  margin-bottom: 40px;
}

.invitation-page-content button:hover {
  color: var(--accent-color);
}

.invitation-page-content .location {
  margin-bottom: 10px;
}

iframe {
  filter: saturate(50%);
  margin-bottom: 10px;
  border-style: solid;
  border-width: 1px;
  border-radius: 10px;
  border-color: var(--base-color);
  width: 450px;
  height: 200px;
  -webkit-box-shadow: 0px 4px 28px 1px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0px 4px 28px 1px rgba(0, 0, 0, 0.25);
  box-shadow: 0px 4px 28px 1px rgba(0, 0, 0, 0.25);
}
